<div class="top">
  <h1><em><img src="/hop1.gif" width="70" height="70" alt="Hop"/>  New User Form  <img src="/hop1.gif" width="70" height="70" alt="Hop"/></em></h1>
</div>

<div class="error">
  <% if @user %>
    <% @user.errors.full_messages.each do |msg| %>
      <p>Error: <%= msg %></p>
    <% end %>
  <% end %>
</div>

<div class="sign_in">
  <%= form_for(@user, :as => :user, :url => new_users_path) do |f| %>
    <p id="user"><%= f.label "Username:" %></p>
    <p><%= f.text_field ("username") %></p>

    <p id="pass"><%= f.label "Password:" %></p>
    <p><%= f.password_field :password %></p>

    <p id="pass"><%= f.label "Verify Password:" %></p>
    <p><%= f.password_field :password_confirmation %></p><br>

    <p id="submit"><%= f.submit("Sign Up") %></p><br>
  <% end %>
</div>
