<div class="top">
  <h1><em><img src="/hop1.gif" width="50" height="50" alt="Hop"/>  Edit Brewery  <img src="/hop1.gif" width="50"            height="50" alt="Hop"/></h1>
</div>

<div class="enter">
<%= form_for @brewery do |f| %>
  <p id="size"><%= f.label "Brewery:" %></p>
  <p><%= f.text_field ("place") %></p><br>

  <p id="size"><%= f.label "Description:" %></p>
  <p><%= f.text_area ("description") %></p><br>
  
  <p id="submit"><%= f.submit %></p><br>
<% end %>
</div>
  
<p id="home"> <%= link_to("Return To Homepage", home_path)%> </p>