<div class="top">
  <h1><em><img src="/hop1.gif" width="70" height="70" alt="Hop"/>  Breweries  <img src="/hop1.gif" width="70" height="70" alt="Hop"/></em></h1>
</div>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="current_user">
  <p>Hi, <a href="/my_beer"><%= @current_user.username %></a>  <a href="/logout"><u>(not you?)</u></a></p>
</div>

<div class="digg_pagination">
  <%= will_paginate @brewery, :page_links => false %>
</div>

<div class="beers">
  <% @brewery.each do |b| %>
    <p><strong><a href="/breweries/<%= b.id %>" title="<%= b.place %>"><%= b.place %></a></strong></p>
    
    <br>
  <% end %>
</div> 

<p id="home"> <%= link_to("Return To Homepage", home_path)%> </p>