<div class="top">
  <p><em><h1><%= @brewery.place %></h1></em></p>
</div>

<div class="style_attributes">
  <div>
    <h3>Description</h3>
    <em><%= @brewery.description %></em>
  </div>

<!-- Add info for beer mapping gem here -->

  <br>

  <div>
    <h3>Beer Reviews</h3>
      <% if @beer_brewery.length == 0 %>
        <em><%= "There have been no beers entered for this location." %></em>
      <% else %>
      <% @beer_brewery.each do |b| %>
        <em><h4><%=b.name%></h4>
          <ul>
            <li><%= "ID - #{b.id}" %></li>
            <li><%= "Style - #{b.style.category}" %></li>
            <li><%= "Color - #{b.color}" %></li>
            <li><%= "IBUs - #{b.ibu}" %></li>
            <li><%= "ABV - #{b.abv}%" %></li>
            <li><%= "Review - #{b.review}" %></li>
            <li><%= "Date - #{b.date}" %></li></em>
          </ul>
          <br>
        <% end %>
      <% end %>
  </div>   
</div>

<p id="home"> <%= link_to("Edit Brewery", edit_brewery_path)%> </p>  

<p id="home"> <%= link_to("Return To Homepage", home_path)%> </p>
