<div class="top">
  <h1><em><img src="/hop1.gif" width="70" height="70" alt="Hop"/>  Nebraska Beer  <img src="/hop1.gif" width="70"             height="70" alt="Hop"/></em></h1>
</div>

<div class="picture">
  <img src="/ne2.jpeg" width="350" height="160" alt="Ne2">
</div>

<p id="styles"><%= link_to("Beer Styles", styles_path)%></p> 

<p id="breweries"><%= link_to("Nebraska Breweries", breweries_path)%></p>

<div class="middle">  
  <strong><p><em><h2>Welcome, Nebraska Beer Drinkers!</p></h2>
  <br>
  <ul>
    <li><%= link_to("Add Beer", new_beer_path)%></li> 
    <li><%= link_to("Show All Beer", beers_path)%></li> 
    <li><%= link_to("Add Beer Style", new_style_path)%></li>
    <li><%= link_to("Add Brewery", new_brewery_path)%></li>
  </ul>
</div>

<div class="support">
  <img src="/support.jpeg" width="294" height="171" alt="Support">
</div>  