<div class="top">
  <h1><em><img src="/hop1.gif" width="70" height="70" alt="Hop"/>  Show All Beer  <img src="/hop1.gif" width="70"             height="70" alt="Hop"/></em></h1>
</div>

<div class="style_attributes">
  <% if @beer.length == 0 %>
    <p id="center"><em><%= "There's currently no beer in the database. Be the first to add one!" %></em></p>
  <% else %>
  <div class="digg_pagination">
    <%= will_paginate @beer, :page_links => false %>
  </div>
    <% @beer.each do |b| %>
        <h3><em><u><a href="/beers/<%= b.id %>"><%= b.name %></a></u></h3>  
        <ul>
          <li><%= "Style - #{b.style.category}" %></li>
          <li><%= "Color - #{b.color}" %></li> 
          <li><%= "IBUs - #{b.ibu}" %></li> 
          <li><%= "ABV - #{b.abv}%" %></li> 
          <li><%= "Brewery - #{b.breweries_comma_separated}" %></li>
          <li><%= "Review - #{b.review}" %></li>
          <li><%= "Date - #{b.date}" %></li>
          <li><%= "User - #{b.user.username}" %></li></em>
        </ul>
        <br>
    <% end %>
  <% end %>
</div>

<p id="home"> <%= link_to("Return To Homepage", home_path)%> </p>

 
