<div class="top">
  <p><em><h1><%= @beer.name %></h1></em></p>
</div>

<div class="current_user">
  <p>Hi, <a href="/my_beer"><%= @current_user.username %></a>  <a href="/logout"><u>(not you?)</u></a></p>
</div>

<div class="digg_pagination">
  <%= will_paginate @all_beer, :page_links => false %>
</div>

<div class="style_attributes">
  <div>
    <h3>Beer Reviews</h3>
      <% @all_beer.each do |b| %>
          <ul>
            <li><%= "Style - #{b.style.category}" %></li>
            <li><%= "Color - #{b.color}" %></li>
            <li><%= "IBUs - #{b.ibu}" %></li>
            <li><%= "ABV - #{b.abv}%" %></li>
            <li><%= "Brewery - #{b.breweries_comma_separated}" %></li>
            <li><%= "Review - #{b.review}" %></li>
            <li><%= "Date - #{b.date}" %></li>
            <li><%= "User - #{b.user.username}" %></li></em>
          </ul>
          <br>
      <% end %>
  </div>   
</div>

<p id="home"> <%= link_to("Return To Homepage", home_path)%> </p>