<div class="top">
  <h1><em><img src="/hop1.gif" width="70" height="70" alt="Hop"/>  Show My Beer  <img src="/hop1.gif" width="70"             height="70" alt="Hop"/></em></h1>
</div>

<div class="current_user">
  <p>Hi, <a href="/my_beer"><%= @current_user.username %></a>  <a href="/logout"><u>(not you?)</u></a></p>
</div>

<div class="style_attributes">
  <% if @beer_order.length == 0 %>
    <p id="center"><em><%= "You have yet to enter any beer. Get started by going back to the homepage!" %></em></p>
  <% else %>
  <div class="digg_pagination">
    <%= will_paginate @beer_order, :page_links => false %>
  </div>
    <% @beer_order.each do |b| %>
      <h4><em><u><a href="/beers/<%= b.id %>"><%= b.name %></a></u></h4>  
      <ul>
        <li><%= "Style - #{b.style.category}" %></li>
        <li><%= "Color - #{b.color}" %></li> 
        <li><%= "IBUs - #{b.ibu}" %></li> 
        <li><%= "ABV - #{b.abv}%" %></li> 
        <li><%= "Brewery - #{b.breweries_comma_separated}" %></li>
        <li><%= "Review - #{b.review}" %></li>
        <li><%= "Date - #{b.date}" %></li>
        <li><%= "User - #{b.user.username}" %></li></em> 
      </ul>
      <p id="edit_delete"> <%= link_to("Edit", edit_beer_path(b.id))%> </p>
      <p id="edit_delete"> <%= link_to("Delete", beer_path(b.id), method: "delete", confirm: "Are you sure?")%> </p>
      <br>
    <% end %>
  <% end %>
</div>

<p id="home"> <%= link_to("Return To Homepage", home_path)%> </p>