<div class="top">
  <p><em><h1><%= @beer.name %></h1></em></p>
</div>

<div class="style_attributes">
  <div>
    <h3>Beer Reviews</h3>
      <% @all_beer.each do |b| %>
          <ul>
            <li><%= "ID - #{b.id}" %></li>
            <li><%= "Style - #{b.style.category}" %></li>
            <li><%= "Color - #{b.color}" %></li>
            <li><%= "IBUs - #{b.ibu}" %></li>
            <li><%= "ABV - #{b.abv}%" %></li>
            <li><%= "Brewery - #{b.breweries_comma_separated}" %></li>
            <li><%= "Review - #{b.review}" %></li>
            <li><%= "Date - #{b.date}" %></li></em>
          </ul>
          <p id="edit_delete"><%= link_to("Edit", edit_beer_path)%></p>
          <p id="edit_delete"><%=link_to("Delete", beer_path, method: :delete, data: {confirm: "Are you sure?"})%></p>
          <br>
      <% end %>
  </div>   
</div>

<p id="home"> <%= link_to("Return To Homepage", home_path)%> </p>